<aside class="fixed-top bg-primary text-white sidebar p-2">
  <div class="mt-md-5 text-center" >
    <img src="https://www.usacycling.org/images/USACycling_Logo.png" />
    <h1 class="text-white"> First Report of Occurrence </h1>
  </div>
  <div class="clearfix" ></div>
  <div class="checklist border border-left ml-5 my-3" >
    <app-sidebar-list [items]="sidebarList"></app-sidebar-list>
  </div>
  <div class="clearfix" ></div>
  <hr class="my-2" />
  <div class="sidebar-footer text-center" >
    <a href="" class="btn btn-outline-light" >Return to Account</a>
  </div>
</aside>
