<div class="container-fluid">
  <div class="form-group w-50 mt-3 mb-3">
      <label for="class">Class</label>
      <app-select-list  
        id="class" 
        [(ngModel)]="incident.raceClass"  
        [list]="incident.getRaceClasses()" ngDefaultControl>
      </app-select-list> 
  </div>
  <div class="form-group w-50 mb-4">
      <label for="ageRange" >Age Range : 0 to {{incident.raceAgeRange}}</label>
      <input type="range" 
        class="form-control-range" 
        id="ageRange" 
        [(ngModel)]="incident.raceAgeRange" 
        (change)="printInfo()" >
  </div>
  <div class="form-group w-50 mb-4">
      <label for="category">Category</label>
      <app-select-list       
      id ="category" 
      [(ngModel)]="incident.raceCategory" 
      [list]="incident.getRaceCategories()" ngDefaultControl>
      </app-select-list>
  </div>
  <div class="form-group mb-4">
      <span >GENDER</span>
      <div class="form-check-inline px-3">
          <input type="radio" 
            name="genderPrefrence" 
            class="form-check-input px-3 mr-3" 
            id="male" 
            (change)="updateGenderPrefrence(true)" />
          <label class="form-check-label mr-3 mb-0" for="male">MALE</label>
          <input type="radio"
            name="genderPrefrence" 
            class="form-check-input px-3 mr-3" 
            id="female" 
            (change)="updateGenderPrefrence(false)"/>
          <label class="form-check-label mr-3 mb-0" for="female">FEMALE</label>
      </div>
  </div>
  <div class="form-group w-50 mb-4">
      <label for="numberofracers">Number of Racers in field</label>
      <input type="number" class="form-control" id="numberofracers" [(ngModel)]="incident.noOfRacers" >
  </div>
  <div class="form-group w-50 mb-4">
      <label for="coursetype">Course Type</label>
      <app-select-list
        id="coursetype" 
        [(ngModel)]="incident.raceCourseType" 
        [list]="incident.getRaceCourseTypes()" ngDefaultControl
      ></app-select-list>
      
  </div>
<div class="container-fluid my-3">
  <usac-btn
    (click)="goPrev()" 
    btnType = "btn-secondary"
    btnText = "BACK" >
  </usac-btn> 
  <usac-btn
    (click)="goNext()" 
    class="float-right mr-4"
    btnType = "btn-secondary"
    btnText = "NEXT"
  ></usac-btn>
</div>
</div>