<div class="container-fluid">
  <form>
      <div class="form-group w-50 mt-3 mb-3">
          <h5>What was the Cause of the incident?</h5>
          <select class="custom-select" id="class" >
              <option selected>select</option>
              <option *ngFor="let cause of causes" >{{cause}}</option>
          </select>
      </div>
      <div class="form-group">
        <h5>What were the weather conditions</h5>
      </div>
      <usac-radio-buttons [radioButtons]="weatherlist"  (selectedList) = "selectedList($event)" ></usac-radio-buttons>
      <div class="form-group w-50  my-3 py-3 ">
          <label for="description">
            Describe the incident
          </label>
          <textarea class="form-control" id="description" rows="5"></textarea> 
      </div>
      <div class="container-fluid my-3">
        <usac-btn
         (click)="goPrev()" 
         btnType = "btn-secondary"
         btnText = "BACK" >
        </usac-btn> 
        <usac-btn
         (click)="goNext()" 
         class="float-right mr-4"
         btnType = "btn-secondary"
         btnText = "NEXT"
         ></usac-btn>
      </div>  
  </form>
</div>
