<section class=" pl-0">
    <h5 class="text-left mt-4 text-secondary ">What was the course ground type?  </h5>
    <form class="form">
        <usac-checkbox-list [checkBoxes]="coursetypes"  (selectedList) = "selectedCheckBoxList($event)" ></usac-checkbox-list>
        <h5 class="text-left mt-4 text-secondary ">What were the course conditions?  </h5>
        <usac-radio-buttons [radioButtons]="conditionslist"  (selectedList) = "selectedList($event)" ></usac-radio-buttons>
      <div class="container-fluid my-3">
        <usac-btn
            (click)="goPrev()" 
            btnType = "btn-secondary"
            btnText = "BACK" >
        </usac-btn> 
        <usac-btn
          (click)="goNext()" 
          class="float-right mr-4"
          btnType = "btn-secondary"
          btnText = "NEXT"
        ></usac-btn>
      </div>  
    </form>
</section>
