// this theme file should include specific component overrides

strong, .strong {
  font-weight: 500;
}

.wizard {
  .body {}
  .indicator {
    .step {}
    .label {}
  }
}

.form {
  .has-error {
    .form-control {
      border: solid 1px $usac-orange !important;
    }
    // error message below input { font-size: 14px; color: $usac-orange; }
  }
  .form-group {
    .form-control {

    }
  }
}

// Inputs
.form-group, .input-group {
  label {
    margin-bottom: 3px;
  }
}
.form-control {
  &[type="text"], &[type="password"], &[type="select"] {
    width: 244px;
    min-height: 40px;
    border-radius: 4px !important;
    &:placeholder-shown {
      border: solid 1px $usac-gray-2;
      background-color: $usac-gray-2;
      opacity: 0.6;
    }
    &:active, &:focus {
      border: solid 1px $usac-blue-1 !important;
      outline-style: none;
      box-shadow: none;
    }
  }
}


/* Customize the label (the container) */
.form-check-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.form-check-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.form-check-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.form-check-label:hover input ~ .form-check-input {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.form-check-label input:checked ~ .form-check-input {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.form-check-input:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.form-check-label input:checked ~ .form-check-input:after {
  display: block;
}

/* Style the checkmark/indicator */
.form-check-label .form-check-input:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


// .form-check {
//   input {
//     position: absolute;
//     top: 5px;
//     left: 0px;
//     height: 20px;
//     width: 20px;
//     opacity: 0;
//     cursor: pointer;
//     &:checked ~ .form-check-input{
//       background-color: $usac-primary;
//     }
//     &:checked ~ .form-check-input:after {
//       left: 9px;
//   top: 5px;
//   width: 5px;
//   height: 10px;
//   border: solid white;
//   border-width: 0 3px 3px 0;
//   -webkit-transform: rotate(45deg);
//   -ms-transform: rotate(45deg);
//   transform: rotate(45deg);
//     }
//   }
//   .form-check-input {
//     position: absolute;
//     height: 20px;
//     width: 20px;
//     border: solid 1px $usac-primary;
//     border-radius: 1px;
//     &:after {
//       content: "";
//       position: absolute;
//       display: none;
//     }
//   }
// }


// .form-check-label {
//   margin-top: 2px;
//   margin-left: 8px;
// }



.card {
  margin: 10px auto;
}
