// this theme file should include specific component overrides

strong, .strong {
  font-weight: 500;
}

.wizard {
  .body {}
  .indicator {
    .step {}
    .label {}
  }
}

.form {
  .has-error {
    .form-control {
      border: solid 1px $usac-orange !important;
    }
    // error message below input { font-size: 14px; color: $usac-orange; }
  }
  .form-group {
    .form-control {

    }
  }
}

// Inputs
.form-control {
  &[type="text"] {
    width: 244px;
    min-height: 40px;
    border-radius: 4px !important;
    &:placeholder-shown {
      border: solid 1px $usac-gray-2;
      background-color: $usac-gray-2;
      opacity: 0.6;
    }
    &:active, &:focus {
      border: solid 1px $usac-blue-1 !important;
      outline-style: none;
      box-shadow: none;
    }
  }
  &[type="checkbox"] {
    width: 20px !important;
    height: 20px !important;
    border-radius: 1px !important;
    border: solid 1px $usac-primary !important;
  }
}



.card {
  margin: 10px auto;
}
