/* You can add global styles to this file, but we recommend you import other style files */

@import './theme_variables';
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import './theme_mixins';
@import './theme';
/*
h1, .h1 {
    font-family: ProximaNova;
    font-size: 48px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #041e41;
  } */