<div class="container-fluid my-5">
  <h3 class="mb-4" > Is this Correct Event?</h3>
  <div class="row align-items-start justify-content-start">
      <div class="col-md-8" >
          <div class="card bg-light rounded-0 m-1">
              <div class="card-body">
                  <p class="card-text mb-1"> {{event.title}} </p>
                  <p class="card-text mb-1"> Date : {{event.date_start}} to {{event.date_end}}   </p>
                  <p class="card-text mb-1"> Address : {{event.address.street}},{{event.address.city}},{{event.address.state}},{{event.address.zip}} </p>
                  <p class="card-text mb-1"> Org: {{event.org}} </p>
                  <p class="card-text mb-1"> Url: {{event.flyer_url}} </p>
              </div>
          </div>
      </div>
  </div>
  <div class="container-fluid my-5 px-0">    
      <a routerLink="/froo/event" 
          class="btn btn-light rounded-0 px-4">Isn't your event? Start Here</a> 
      <a routerLink="/froo/thanks" 
          class="btn btn-secondary rounded-0 float-right mr-4 px-4">Yes,Continue</a>   
   </div>
</div>