<div class="container-fluid my-5">
  <h3 class="mb-4" > Is this Correct Event?</h3>
  <div class="row align-items-start justify-content-start">
      <div class="col-md-8" >
          <div class="card bg-light  m-1">
            <app-eventdetails [eventDetail]="event"></app-eventdetails>
          </div>
      </div>
  </div>
  <div class="container-fluid my-5 px-0">    
        <usac-btn 
          routerLink="/froo/event"
          btnType="btn-outline-secondary"
          btnText = "Isn't your event? Start Here">
        </usac-btn>
        <usac-btn 
            routerLink="/froo/incident"
            btnType="btn-secondary"
            class = "float-right mr-4"
            btnText = "Yes,Continue">
        </usac-btn>
   </div>
</div>