
<section class=" pl-0">
  <h4 class="text-left mt-4 text-secondary ">where did this event occur?  </h4>
  <form class="form">
    <usac-radio-buttons [radioButtons]="locations"  (selectedList) = "selectedList($event)" ></usac-radio-buttons>
      <div class="container-fluid my-3">
        <usac-btn
          (click)="goPrev()" 
          btnType = "btn-secondary"
          btnText = "BACK" >
        </usac-btn> 
        <usac-btn
          (click)="goNext()" 
          class="float-right mr-4"
          btnType = "btn-secondary"
          btnText = "NEXT"
        ></usac-btn>
      </div>  
  </form>
</section>